* {
  box-sizing: border-box;
}

@keyframes clicked {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes msg-animation {
  0% {
    transform: scale(0);
    bottom: 50%;
  }

  50% {
    transform: scale(1.2);
    bottom: 45%;
  }

  80% {
    transform: scale(1.2);
    bottom: 45%;
  }

  100% {
    transform: scale(1);
    bottom: -20%;
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.background {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.background > img {
  height: 100%;
  width: 100%;
}

.board {
  animation-name: clicked;
  animation-duration: 1s;
  position: relative;
  width: 80%;
  margin: auto;
}

.board > div {
  display: flex;
  width: 100%;
}

.board > div > span {
  border: white solid 20px;
  display: flex;
  width: 33.33%;
  height: 200px;
}

.board > .row-1 > span {
  height: 240px;
}

.row-0 > span:nth-child(odd) {
  border: none;
}

.row-0 > span:nth-child(even) {
  border-top: none;
  border-bottom: none;
}

.row-1 > span:nth-child(odd) {
  border-left: none;
  border-right: none;
}

.row-1:first-child {
  border-left: none;
  background: white;
}

.row-2 > span:nth-child(odd) {
  border: none;
}

.row-2 > span:nth-child(even) {
  border-top: none;
  border-bottom: none;
}

.svg-inline--fa.fa-w-11 {
  height: 100%;
  width: 100%;
}

.svg-inline--fa.fa-w-16 {
  height: 85%;
  width: 90%;
}

i {
  align-items: center;
  animation-duration: 1s;
  animation-name: clicked;
  display: flex;
  justify-content: center;
}

path {
  fill: white;
}

.wrong {
  color: #ffed85;
}

.good {
  color: #79ff79;
}

.msg {
  font-size: 130%;
  width: 60%;
}

.msg > h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  animation-duration: 1s;
  animation-name: msg-animation;
  z-index: 3;
  position: absolute;
  bottom: -20%;
}
