* {
  box-sizing: border-box;
}

@keyframes clicked {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes colors {
  0% {
    color: rgb(9, 255, 0);
  }

  50% {
    color: rgb(255, 238, 0);
    transform: scale(1.2);
  }

  100% {
    color: rgb(255, 153, 0);
  }
}

@keyframes msg-animation {
  0% {
    transform: scale(0);
    bottom: 50%;
  }

  50% {
    transform: scale(1.2);
    bottom: 45%;
  }

  80% {
    transform: scale(1.2);
    bottom: 45%;
  }

  100% {
    transform: scale(1);
    bottom: -20%;
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  max-width: 768px;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 200%;
  font-weight: bolder;
}

.win-msg {
  width: 100%;
  position: absolute;
  top: 38%;
  font-size: 400%;
  text-align: center;
  font-weight: bolder;
  animation-name: colors;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.background {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.background > img {
  height: 100%;
  width: 100%;
}

.board {
  animation-name: clicked;
  animation-duration: 1s;
  position: relative;
  width: 80%;
  margin: auto;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form > div > div {
  width: 40%;
}

form > div > div > div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.board > div {
  display: flex;
  width: 100%;
}

form + span {
  margin-top: 20px;
}

.board > div > span {
  border: white solid 20px;
  display: flex;
  width: 33.33%;
  height: 200px;
}

.board > .row-1 > span {
  height: 240px;
}

.row-0 > span:nth-child(odd) {
  border: none;
}

.row-0 > span:nth-child(even) {
  border-top: none;
  border-bottom: none;
}

.row-1 > span:nth-child(odd) {
  border-left: none;
  border-right: none;
}

.row-1:first-child {
  border-left: none;
  background: white;
}

.row-2 > span:nth-child(odd) {
  border: none;
}

.row-2 > span:nth-child(even) {
  border-top: none;
  border-bottom: none;
}

.svg-inline--fa.fa-w-11 {
  height: 100%;
  width: 100%;
}

.svg-inline--fa.fa-w-16 {
  height: 85%;
  width: 90%;
}

i {
  align-items: center;
  animation-duration: 1s;
  animation-name: clicked;
  display: flex;
  justify-content: center;
}

path {
  fill: white;
}

.wrong {
  color: #ffed85;
}

.good {
  color: #79ff79;
}

.msg {
  font-size: 130%;
}

.msg > h2 {
  display: inline-block;
  width: 100%;
  animation-duration: 1s;
  animation-name: msg-animation;
  z-index: 3;
  position: absolute;
  bottom: -20%;
}

.msg,
form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.solo {
  justify-content: center;
}

form > button {
  width: 120px;
  margin-top: 50px;
  align-self: center;
  transform: scale(1.4);
}

form input {
  border-radius: 5px;
  text-align: center;
  font-size: 120%;
}

h3 {
  margin-bottom: 0;
}

.choice {
  margin-top: 20px;
  justify-content: center;
}

.choice > button {
  margin: 10px;
}
